li,p{
    font-family: 'Kaushan Script';
    font-size: 15px;
    text-indent: 12px;

}

h4, h5{
    font-family: 'Francois One';
    font-size: 20px;
}

h1 {
    font-family: 'Francois One';
}

body {
    background-color: #E5D5C0;
}

div {
    display: inline;
}

a:link{
	color: blue;
}

a:visited{
	color: grey;

}

a:hover{
	color: green;
}

a:active{
	color: red;
}